{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 120,
  "semi": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^[./]",
    "@styles/(.*)$|(c|le|sc)ss$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
